body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.topnav {
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(41, 64, 194);
}
.top-list {
    float: right;
    padding-left: 20px;
    font-size: 14px;
    font-family: 'Titillium Web';
}
.first-list {
    font-size: 14px;
    float: left;
    font-family: 'Titillium Web';
}
nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 29px;
    text-decoration: none;
}
nav a:hover:not(.active) {
    background-color: #111;
}
.first-list a:hover:not(.active) {
    background-color: rgb(61, 35, 61) ;
}
#article-header {
    background-image: url(shuttle7.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding-top: 490px;
    /* position: relative; */
}
.mission-header {
    color: rgb(44, 44, 49);
    font-size: 50px;
    font-family: 'Titillium Web';
    /* position: relative; */
    text-align: center;
    padding-top: 30px;
}
#page {
    margin: auto;
    width: 70%;
    padding: 0, 10px, 10px, 10px;
}
#page h3 {
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    color: #ee7402;
}
article p {
    font-size: 18.5px;
    padding-top: 15px;
    line-height: 25px;
}
.astro-top {
    list-style-type: none;
    padding-left: 30px;
    color: #756767;
    display: flex;
    justify-content: space-between;
}
.astro-img {
    padding-top: 14px;
    padding-bottom: 15px;
    text-align: center;
}
.astro-img img {
    width: 53%;
}
.freedom {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.freedom figcaption {
    padding-top: 10px;
    font-weight: bold;
    max-width: 375px;
}
.kath-img img {
    width: 370px;
    height: 360px;
}
.freedom-flight img {
    width: 370px;
    height: 360px;
}
.credit1 {
    font-family: 'Titillium Web';
    font-size: 12px;
    padding-top: 0;
}
.apollo {
    padding-top: 15px;
    text-align: center;
}
.apollo img {
    overflow: hidden;
    width: 60%;
}
.apollo figcaption {
    font-weight: bold;
    font-family: cursive;
    padding-bottom: 10px;
}
.iss-container {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.iss img {
    width: 320px;
    height: 280px;
}
.spacex img {
    width: 320px;
    height: 280px;
}
.iss-container figcaption {
    font-weight: bold;
    max-width: 350px;
}
.authorimg {
    padding-top: 20px;
    padding-left: 170px;
}
.authorimg img {
    width: 4%;
    border-radius: 50%;
    float: left;
}
.author-bottom p {
    font-size: 13px;
}
.author-bottom {
    padding-top: 5px;
    opacity: 70%;
}
.author-bottom a {
    padding-left: 12px;
    text-decoration: none;
    color: black;
}